main {
  flex: 1;
  background: url('../../img/main-background.png') no-repeat center center/cover;
  background-attachment: fixed; /* Fix the background image for desktop */
  width: 100%;
}

/* Wyłączenie background-attachment: fixed na urządzeniach mobilnych */
@media (max-width: 768px) {
  main {
    background-attachment: scroll; /* Normalne przewijanie tła na urządzeniach mobilnych */
    background-size: contain; /* Zmiana rozmiaru tła dla urządzeń mobilnych */
    background-position: top; /* Ustawienie pozycji tła */
  }
}

.main-section {
  text-align: center;
  color: white;
  padding: 5em 1em;
  min-height: 100vh; /* ensure the main section takes the full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.main-content {
  position: absolute;
  top: 40%; /* adjust as needed */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.main-content h1 {
  font-size: 3em;
  margin: 0.5em 0;
}

.main-content p {
  font-size: 1.2em;
}

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  margin-top: 1em;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
  width: 150px; /* set a specific width */
}

.btn:hover {
  background: white;
  color: #333;
}

/* Stylizacja dla małych ekranów (max-width: 480px) */
@media (max-width: 480px) {
  .main-content h1 {
    font-size: 1.5em;
  }

  .main-content p {
    font-size: 0.9em;
  }

  .btn {
    width: auto;
    padding: 0.5em;
  }
}

/* Stylizacja dla hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
  height: 40px; /* Zwiększenie wysokości menu hamburgera */
}

.menu-toggle .bar {
  width: 30px; /* Zwiększenie szerokości paska */
  height: 3px;
  background-color: white;
  margin: 6px 0; /* Zwiększenie odstępu między paskami */
  transition: 0.4s;
}

/* Media Queries dla urządzeń mobilnych */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto; /* Automatyczna wysokość na urządzeniach mobilnych */
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    display: none; /* Ukryj menu na urządzeniach mobilnych */
  }

  .nav-links li {
    width: 100%;
  }

  .nav-links a {
    padding: 1em;
    width: 100%;
    text-align: center;
  }

  .menu-toggle {
    display: flex; /* Pokaż hamburger menu na urządzeniach mobilnych */
  }

  .nav-links.active {
    display: flex; /* Pokaż menu po kliknięciu */
  }

  main {
    background-attachment: scroll; /* Wyłączenie fixed tła na mobilnych */
    background-size: contain; /* Zmiana rozmiaru tła dla urządzeń mobilnych */
    background-position: top; /* Ustawienie pozycji tła */
  }
}
