.content-section {
  padding: 5em 1em;
  background: rgba(199, 198, 198, 0.95); /* Zmienione na jasno szary */
  text-align: center;
  margin: 6em 0; /* Większy margines dla stworzenia przestrzeni między sekcjami */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Opcjonalnie: dodaj cień dla lepszej widoczności */
  border-radius: 10px; /* Opcjonalnie: dodaj zaokrąglone rogi dla lepszej widoczności */
}
