/* Media Queries */
@media (max-width: 768px) {
  main {
    background-attachment: scroll; /* Normalne przewijanie tła na urządzeniach mobilnych */
    background-size: cover; /* Upewnij się, że tło pokrywa cały obszar */
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto; /* Automatyczna wysokość na urządzeniach mobilnych */
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    display: none; /* Ukryj menu na urządzeniach mobilnych */
  }

  .nav-links li {
    width: 100%;
  }

  .nav-links a {
    padding: 1em;
    width: 100%;
    text-align: center;
  }

  .menu-toggle {
    display: flex; /* Pokaż hamburger menu na urządzeniach mobilnych */
  }

  .nav-links.active {
    display: flex; /* Pokaż menu po kliknięciu */
  }
}

@media (max-width: 480px) {
  .main-content h1 {
    font-size: 1.5em;
  }

  .main-content p {
    font-size: 0.9em;
  }

  .btn {
    width: auto;
    padding: 0.5em;
  }
}
