/* Stylizacja dla hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
  height: 40px; /* Increase height of hamburger menu */
}

.menu-toggle .bar {
  width: 30px; /* Increase width of bar */
  height: 3px;
  background-color: white;
  margin: 6px 0; /* Increase spacing between bars */
  transition: 0.4s;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1em;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.nav-links a:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Media Queries dla urządzeń mobilnych */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto; /* Automatic height on mobile devices */
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    display: none; /* Hide menu on mobile devices */
  }

  .nav-links li {
    width: 100%;
  }

  .nav-links a {
    padding: 1em;
    width: 100%;
    text-align: center;
  }

  .menu-toggle {
    display: flex; /* Show hamburger menu on mobile devices */
  }

  .nav-links.active {
    display: flex; /* Show menu on click */
  }
}
