.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: 100%;
  height: 60px; /* Zwiększenie wysokości paska nawigacyjnego */
}

.logo img {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1em;
  flex: 1; /* Pozwala linkom zajmować całą pozostałą przestrzeń */
  justify-content: flex-end; /* Wyrównuje linki do prawej */
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.nav-links a:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Stylizacja dla hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
  height: 40px; /* Zwiększenie wysokości menu hamburgera */
}

.menu-toggle .bar {
  width: 30px; /* Zwiększenie szerokości paska */
  height: 3px;
  background-color: white;
  margin: 6px 0; /* Zwiększenie odstępu między paskami */
  transition: 0.4s;
}
