.slider {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  padding: 20px; /* Dodaj padding wokół slidera */
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  overflow: hidden; /* Ukryj nadmiarowy kontent */
}

.slide {
  min-width: 100%; /* Pełna szerokość slajdu */
  box-sizing: border-box;
  padding: 10px; /* Dodaj padding wewnątrz slajdu */
}

.slide img {
  width: 100%;
  display: block;
  border-radius: 10px; /* Opcjonalnie: dodaj zaokrąglone rogi */
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
  background-color: rgba(0,0,0,0.5); /* Dodaj tło dla lepszej widoczności */
}

.prev {
  left: 10px; /* Lekko przesunięte w lewo */
  border-radius: 3px 0 0 3px;
}

.next {
  right: 10px; /* Lekko przesunięte w prawo */
  border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
