/* Ogólne style dla slajdera */
.slider {
  position: relative;
  margin: auto;
  overflow: hidden;
  border-radius: 10px; /* Opcjonalnie: dodaj zaokrąglone rogi */
}

/* Slider dla komputerów */
.desktop-slider {
  display: none;
}

@media (min-width: 769px) {
  .desktop-slider {
    display: block;
    max-width: 80%; /* Dopasuj tę wartość w razie potrzeby */
    height: 1000px; /* Ustaw stałą wysokość */
  }

  .desktop-slider .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%; /* Upewnij się, że slajdy zajmują pełną wysokość slajdera */
  }

  .desktop-slider .slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px; /* Dodaj trochę przestrzeni wokół slajdu */
    height: 100%; /* Upewnij się, że każdy slajd zajmuje pełną wysokość slajdera */
  }

  .desktop-slider .slide img {
    width: 100%;
    height: 100%; /* Upewnij się, że obrazy wypełniają slajdy */
    object-fit: cover; /* Upewnij się, że obrazy pokrywają cały slajd bez rozciągania */
    display: block;
  }
}

/* Slider dla telefonów */
.mobile-slider {
  display: none;
}

@media (max-width: 768px) {
  .mobile-slider {
    display: block;
    max-width: 100%;
    height: 300px; /* Automatyczna wysokość dla urządzeń mobilnych */
  }

  .mobile-slider .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .mobile-slider .slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 10px; /* Mniejszy padding dla urządzeń mobilnych */
  }

  .mobile-slider .slide img {
    width: 100%;
    display: block;
  }
}

/* Strzałki */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
